@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: theme("colors.black");
  background: theme("colors.whiteBg");
}

h1,
h2,
h3,
.b1,
.b2,
.c1 {
  line-height: normal;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 25px;
}

.b1 {
  font-size: 16px;
}

.b2 {
  font-size: 20px;
}

.c1 {
  font-size: 13px;
}
